body {
  background-color: #111120;
  width: 80%;
  margin: auto;
  min-width: 1000px;
  padding: 15px;
}

.navbar {
  /*overflow: hidden;*/
  position: fixed;
  top: 0;
  font-size: 30px;
  background-image: linear-gradient(to right, #ef4be6e3, #a80443);
  height: 80px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  padding-top: 5px;
  width: 80%;
  min-width: 1000px;
  z-index: 31;
}

.navbar_text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 20px;
}

.navbar-btn {
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: sans-serif;
  background-color: #4a0c37;
  color: white;
  font-size: 19px;
}

#logo {
  float: left;
  height: 90px;
  object-fit: cover;
}

#btn-container {
  display: flex;
  flex-direction: row-reverse;
}

#play-btn {
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  margin: 15px 15px 15px 0;
  padding: 10px 25px;
  border-radius: 12px;
  border: 5px solid #66104d;
  color: #b11482;
  z-index: 5;
}

#top-movie_texts {
  position: absolute;
  top: 280px;
  left: 270px;
  padding: 15px;
  background: rgba(239, 230, 240, 0.4);
  width: 30%;
  border-radius: 15px;
  color: white;
  text-shadow: 3px 3px 3px black;
  z-index: 5;
  margin: auto;
}

#top-movie {
  margin: 100px 0 100px 0;
  position: relative;
  display: flex;
  justify-items: center;
}

#top-movie-paragraph {
  font-family: sans-serif;
  font-size: 20px;
  margin: 10px;
}

#top-movie-title {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 10px 20px 10px;
}

#top-movie-img {

  border-radius: 15px;
  margin: auto;
  height: 800px;
  width: 70%;
  object-fit: fill;
}

#popup-window {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 40px 0 0;
}

#popup-window-container {
  position: fixed;
  border-radius: 15px;
  width: 70%;
  min-width: 600px;
  height: 520px;
  min-height: 490px;
  background: #7b7bc2;
  font-family: sans-serif;
  font-size: 1em;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 25;
  display: none;
  box-sizing: border-box;
}

#close-btn {
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border-radius: 15px;
  font-family: sans-serif;
  background-color: #4a0c37;
  color: white;
  font-size: 19px;
  margin: 15px 15px 15px 0;
  padding: 10px 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.popup_img {
  width: 65%;
  height: 440px;
  margin: 20px 0 20px 60px;
}

.category {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.img-slide {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

#categories {
  margin-top: 50px;
}

.slide-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 45px;
}

.category_title {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  color: white;
}

.container {
  width: 85%;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  transition: transform 0.1s ease-in-out;
  margin-left: -10px;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: #c2c2fa;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 30px;
  overflow: auto;
}

.prev {
  left: 0;
  /* Adjust this value to control how far outside the carousel the arrow appears */
}

.next {
  right: 0;
  /* Adjust this value to control how far outside the carousel the arrow appears */
}

.Top-Rated,
.Comedy,
.Romance,
.Drama {
  height: 400px;
  width: 100%;
  object-fit: fill;
  margin: 0 18px;
}